name: Manual Stock Report

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # 安裝中文與 Chrome 依賴
      - name: Install Dependencies (Chrome & Fonts)
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-wqy-zenhei
          sudo apt-get install -y chromium-browser chromium-chromedriver

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Install Python Requirements
        run: |
          pip install -r requirements.txt

      - name: Run Analysis Script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_TEST }}
        run: |
          python "DC_One-page candlestick chart.py"
